@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: #2563eb; /* Azul Tailwind 600 */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #1e40af; /* Azul Tailwind 800 */
}

.barraSuperior {
  background-color: #0e65b7;
}

.botonSlider {
  background-color: #0e65b7;
}

.botonMenu {
  background-color: #49a4d6;
}

.btnElement {
  padding: 10px;
}

.btnElement:hover {
  background-color: #0e65b7;
  color: white;
}

.barraSeparadora {
  background-image: url("/trama.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: 365px 340px;
}
